<footer id="footer" class="footer">
	<div class="container">
		<div class="footer-menu">
			<div class="row">
				<div class="col-sm-3">
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">Air<span>Flights</span></a>
					</div><!--/.navbar-header-->
				</div>
				<div class="col-sm-9">
					<ul class="footer-menu-item">
						<li class="scroll"><a href="#works">how it works</a></li>
						<li class="scroll"><a href="#explore">explore</a></li>
						<li class="scroll"><a href="#reviews">review</a></li>
						<li class="scroll"><a href="#blog">blog</a></li>
						<li class="scroll"><a href="#contact">contact</a></li>
						<li class=" scroll"><a href="#contact">my account</a></li>
					</ul><!--/.nav -->
				</div>
			</div>
		</div>
		<div class="hm-footer-copyright">
			<div class="row">
				<div class="col-sm-5">
					<p>
						Contact
					</p><!--/p-->
				</div>
				<div class="col-sm-7">
					<div class="footer-social">
						<span><i class="fa fa-phone"> +40 756 653 221</i></span>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>

		</div><!--/.hm-footer-copyright-->
	</div><!--/.container-->

	<div id="scroll-Top">
		<div class="return-to-top">
			<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
		</div>

	</div><!--/.scroll-Top-->

</footer><!--/.footer-->