<footer id="footer" class="footer">
    <section id="contact" class="subscription">
        <div class="container">
            <div class="subscribe-title text-center">
                <h2>
                    Newsletter
                </h2>
                <p>
                    AirFlights was founded in 1991 by a group of safety-focused professionals erators.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscription-input-group">

                        @*todo: save the email*@
                        <form action="#">
                            <input type="email" class="subscription-input-form" placeholder="Enter email">
                            <button class="appsLand-btn subscribe-btn" onclick="window.location.href = '#'">
                                Subscribe Us
                                <i class="fa fa-plane"></i>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="footer-menu">
            <div class="row">
                <div class="col-sm-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Air<span>Flights</span></a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <ul class="footer-menu-item">
                        <li class="scroll"><a href="/works">how it works</a></li>
                        <li class="scroll"><a href="/explore">explore</a></li>
                        <li class="scroll"><a href="/contact">contact</a></li>
                        @*todo: put the name here*@
                        <li class=" scroll"><a href="/account">my account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hm-footer-copyright">
            <div class="row">
                <div class="col-sm-5">
                    <p>
                        AirFlights was founded in 1991 by a group of safety-focused professionals who created The Wingman Standard for rigorously vetting air charter operators.
                    </p>
                </div>
                <div class="col-sm-7">
                    <div class="footer-social">
                        <span><i class="fa fa-phone"> +40 756 653 221</i></span>
                        <a href="/"><i class="fa fa-facebook"></i></a>
                        <a href="/"><i class="fa fa-twitter"></i></a>
                        <a href="/"><i class="fa fa-linkedin"></i></a>
                        <a href="/"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
    </div>
</footer>