nav.navbar.bootsnav {
    background-color: #fff;
    border-bottom: transparent;
}

.wrap-sticky nav.navbar.bootsnav.sticked {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

/*.navbar-brand*/
.navbar-header a.navbar-brand, .navbar-header a.navbar-brand:hover, .navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #1b1e20;
    font-size: 20px;
    font-weight: 700;
    padding: 34px 0px;
    text-transform: capitalize;
}

    .navbar-header a.navbar-brand span {
        display: inline-block;
        color: #ff545a;
        text-transform: capitalize;
    }

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand, .wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover, .wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
    padding: 30px 0px;
}
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    color: #859098;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

nav.navbar.bootsnav ul.nav > li > a {
    padding: 34px 21px;
}

    nav.navbar.bootsnav ul.nav > li > a:hover, nav.navbar.bootsnav ul.nav > li > a:focus {
        color: #ff545a;
    }

nav.navbar.bootsnav ul.nav > li.active > a {
    color: #ff545a;
}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}

nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}

.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a {
    padding: 34px 21px;
}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design {
    overflow-y: scroll;
    height: 350px;
}

    .menu-ui-design::-webkit-scrollbar {
        width: 5px;
    }

    .menu-ui-design::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 8px #000;
    }

    .menu-ui-design::-webkit-scrollbar-thumb {
        background-color: #ff545a;
    }
/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #ff545a;
    padding: 10px;
    top: 0;
}

    nav.navbar.bootsnav .navbar-toggle i {
        color: #ff545a;
    }
/*.navbar-toggle */
