<section class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">Air<span>flights</span></a>
                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav-custom navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="scroll active"><a href="/explore">explore</a></li>
                        <li class="scroll"><a href="/history">bookings</a></li>
                        <AuthorizeView>
                            <Authorized>
                                <li class="scroll"><a href="/account">my account Logged</a></li>
                            </Authorized>
                            <NotAuthorized>
                                <li class="scroll"><a href="/login">my account</a></li>
                            </NotAuthorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="@Roles.Admin">
                            <Authorized>
                                <li class="scroll"><a href="/users">users</a></li>
                            </Authorized>
                            <NotAuthorized>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="clearfix"></div>
</section>