@page "/flight"


@inherits BaseComponent

<PageTitle>Flight</PageTitle>

<Card Class="card-flight">
    <CardImage Source="../images/explore/London.jpg" Alt="Card image cap 3"></CardImage>
    <CardBody>
        <CardTitle Size="5">London Flights</CardTitle>
        <Divider DividerType="DividerType.Dashed" />
        <CardText>
            Price per person 300  RON
            <Divider DividerType="DividerType.Dashed" />
            ora plecării 18:30
            <Divider DividerType="DividerType.Dashed" />
            ora sosirii 20:00
        </CardText>
        <Button Class="btn-group-justified" Color="Color.Primary">Book now</Button>
    </CardBody>
</Card>

