@page "/register"
@inherits ComponentBase
@using Refit.Implementation
@implements IDisposable

<PageTitle>Register</PageTitle>


<Div Margin="Margin.IsAuto.OnX" Width="Width.Is25" class="register container">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Sign up to your account
    </Heading>
    <br/>
    <Div class="row">
        <Div class="col-sm-6">
            <Card Shadow="Shadow.Default">
                <CardBody>
                    <Form>
                        <Field>
                            <FieldLabel>
                                FirstName
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="Enter the first name" Role="TextRole.Text" @bind-Text="_registerModel.FirstName" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>
                                LastName
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="Enter the last name" Role="TextRole.Text" @bind-Text="_registerModel.LastName" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>
                                Email
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="Enter your e-mail" Role="TextRole.Email" @bind-Text="_registerModel.Email" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>
                                Phone
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="Enter your phone number" Role="TextRole.Telephone" @bind-Text="_registerModel.PhoneNumber" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>
                                Password
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="********" Role="TextRole.Password" @bind-Text="_registerModel.Password" autocomplete="new-password" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>
                                Confirm Password
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="********" Role="TextRole.Password" @bind-Text="_registerModel.ConfirmPassword" autocomplete="confirm-password" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <Button Color="Color.Primary" Block Clicked="@RegisterAsync">
                                Sign up
                            </Button>
                        </Field>
                        <Field>
                            Do you have already an account? <Anchor To="/login" TextColor="TextColor.Primary">Sign in</Anchor>
                        </Field>
                    </Form>
                </CardBody>
            </Card>
        </Div>
        <Div class="col-sm-6">
             <Image src="../images/blog/contact1.jpg" alt="placeholder" Style="height: 500px; width: 500px; align-content: center"  ></Image>
        </Div>
     </Div>
 </Div>