@page "/register"
@inherits ComponentBase
@implements IDisposable

<PageTitle>Register</PageTitle>

<Div Margin="Margin.IsAuto.OnX" Width="Width.Is25" class="container">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Sign up your account
    </Heading>

    <Card Shadow="Shadow.Default">
        <CardBody>
            <Form>
                <Field>
                    <FieldLabel>
                        Email/Username
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="example@example.ro, example" Role="TextRole.Email" @bind-Text="_registerModel.Username" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>
                        Password
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="********" Role="TextRole.Password" @bind-Text="_registerModel.Password" autocomplete="new-password" />
                    </FieldBody>
                </Field>
                <Field Flex="Flex.Wrap.JustifyContent.Between">
                    <Check TValue="bool">
                        Remember me
                    </Check>
                    <Anchor To="/forgot-password" TextColor="TextColor.Primary">
                        Forgot your password?
                    </Anchor>
                </Field>
                <Field>
                    <Button Color="Color.Primary" Block Clicked="@RegisterAsync">
                        Sign in
                    </Button>
                </Field>
                <Field>
                    Do you have already an account? <Anchor To="/login" TextColor="TextColor.Primary">Sign in</Anchor>
                </Field>
            </Form>
        </CardBody>
    </Card>
</Div>
