@page "/addticket"

@using System.Data
@inherits ComponentBase


<PageTitle>Add New Ticket</PageTitle>


<Div Margin="Margin.IsAuto.OnX" class="register container">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Add New Ticket
    </Heading>
    <br />
    <Div class="row">
        <Div class="col-sm-6">
            <Card Shadow="Shadow.Default">
                <CardBody>
                    <Form>
                        <Validations Mode="ValidationMode.Auto">
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        From Country
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit Placeholder="Enter the country" Role="TextRole.Text" @*@bind-Text="_registerModel.FirstName"*@>
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        From City
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit Placeholder="Enter the city" Role="TextRole.Text" >
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        Departure Time
                                    </FieldLabel>
                                    <FieldBody>
                                        <DatePicker >
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DatePicker>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        Number of seats
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit Placeholder="Enter the no of seats"  >
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        To Country
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit Placeholder="Enter the country" Role="TextRole.Text">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        To City
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit Placeholder="Enter the city" Role="TextRole.Text">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        Arrival Time
                                    </FieldLabel>
                                    <FieldBody>
                                        <DatePicker Placeholder="Enter the arrival time">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DatePicker>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <FieldLabel>
                                        Price
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit Placeholder="Enter the price" Role="TextRole.Text">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>

                            <Field>
                                <FieldLabel>
                                    Currency
                                </FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter the currency" Role="TextRole.Text">
                                </FieldBody>
                            </Field>

                            <Field>
                                <FieldLabel>
                                    Upload your profile image
                                </FieldLabel>
                                <FieldBody>
                                    <FilePicker Upload="@OnImageUploaded" ShowMode="FilePickerShowMode.List" Filter="image/*" />
                                </FieldBody>
                            </Field>
                            <Field>
                                <Button Color="Color.Primary" Block Clicked="@RegisterAsync">
                                     Sign up
                                 </Button>
                             </Field>
                             <Field>
                                 Do you have already an account? <Anchor To="/login" TextColor="TextColor.Primary">Sign in</Anchor>
                             </Field>
                         </Validations>
                     </Form>
                 </CardBody>
             </Card>
         </Div>
         <Div class="col-sm-6">
             <Image src="../images/blog/contact1.jpg" alt="placeholder" Style="height: 500px; width: 500px; align-content: center"></Image>
         </Div>
     </Div>
 </Div>