@page "/contact"

<PageTitle>Contact</PageTitle>
<section id="works" class="works">
    <Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnX" Width="Width.Is75" class="welcome-hero">
        <Heading Size="HeadingSize.Is2" Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center" TextColor="TextColor.White">
            Contact us
        </Heading>
        <div class="works-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-location-on-road"></i>
                        </div>
                        <h2><a href="https://maps.app.goo.gl/45hs82rFB4r14iLR8">Address</a></h2>
                        <p>
                            198 West 21th Street
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href = 'Map'">
                            Map
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="fa fa-phone fa-2x"></i>
                        </div>
                        <h2><a href="#">Phone</a></h2>
                        <p>
                            +40 756 653 221
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href = '#'">
                            Call
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="fa fa-envelope fa-2x"></i>
                        </div>
                        <h2><a href="#">Email</a></h2>
                        <p>
                            airflights@yahoo.com
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href = 'Email'">
                            Write a email
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <Paragraph Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center" TextColor="TextColor.Danger" TextSize="TextSize.Heading1">
            Talk to us
        </Paragraph>
        <Form >
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    <i class="fa fa-user"></i>
                    Name
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="Blazories" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    <i class="fa fa-envelope"></i>
                    Email
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="name@blazorise.com" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    <i class="fa fa-phone"></i>
                    Phone
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="Phone" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    <i class="fa fa-message"></i>
                    Message
                </FieldLabel>
                <FieldBody>
                    <MemoEdit Placeholder="Leave a message..." Rows="4" />
                </FieldBody>
            </Field>
            <Field>
                <Button Color="Color.Danger">
                    Submit Now
                    <i class="fa fa-paper-plane"></i>
                </Button>
            </Field>
        </Form>
    </Div>
</section>
