@page "/contact"

<PageTitle>Contact</PageTitle>

<section id="home" class="welcome-hero">
<div class="container">
    <div class="welcome-hero-txt">
            <h2>Contact us</h2>
    </div>
    <br/>
    <br/>
        <br />
    <br />
        <br />
        <br />
    <section id="list-topics" class="list-topics">
        <div class="container">
            <div class="list-topics-content">
                <ul>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-address"></i>
                            </div>
                            <h2><a href="#">Address</a></h2>
                                <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-phone"></i>
                            </div>
                            <h2><a href="#">PHONE</a></h2>
                                <p> +40 756 653 221</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-email"></i>
                            </div>
                            <h2><a href="#">EMAIL</a></h2>
                            <p>airflights@yahoo.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-website"></i>
                            </div>
                            <h2><a href="#">WEBSITE</a></h2>
                            <p>airflights.com</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--/.container-->

    </section><!--/.list-topics-->

</div>
</section>