@page "/contact"

<PageTitle>Contact</PageTitle>
<section id="works" class="works">
    <div class="container">
    <div class="welcome-hero">
        <div class="section-header">
            <h2>CONTACT</h2>
        </div>
        <div class="works-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-location-on-road"></i>
                        </div>
                        <h2><a href="#">Address</a></h2>
                        <p>
                            198 West 21th Street
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href = 'Map'">
                            Map
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="fa fa-phone fa-2x"></i>
                        </div>
                        <h2><a href="#">Phone</a></h2>
                        <p>
                            +40 756 653 221
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href = '#'">
                            Call
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="fa fa-envelope fa-2x"></i>
                        </div>
                        <h2><a href="#">Email</a></h2>
                        <p>
                            airflights@yahoo.com
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href = 'Email'">
                            Write a email
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
