<Modal @ref="ModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Employee edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>First Name</FieldLabel>
                <TextEdit Placeholder="Enter first name..." />
            </Field>
            <Field>
                <FieldLabel>Last Name</FieldLabel>
                <TextEdit Placeholder="Enter last name..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    private Modal ModalRef { get; set; }

    public async Task ShowModal()
    {
        await ModalRef.Show();
    }

    public async Task HideModal()
    {
        await ModalRef.Hide();
    }
}
