<Modal @ref="ModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Seats</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Image Source="~/images/welcome-hero/plane-seats.png"></Image>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    private Modal ModalRef { get; set; }

    public async Task ShowModal()
    {
        await ModalRef.Show();
    }

    public async Task HideModal()
    {
        await ModalRef.Hide();
    }
}
