@page "/"

<html>
<head>
    <PageTitle>Home</PageTitle>
    <style>
        body {
            background-image: url('/image/banner.jpg');
            color: whitesmoke;
            backdrop-filter: blur(8px);
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
          
        }
    </style>
</head>
<body>
<div class="content">
    <span><h1> BEST PLACE TO FIND AND EXPLORE
        THAT ALL YOU NEED
        </h1></span>
</div>

</body>

</html>

