@page "/"

<PageTitle>Home</PageTitle>


<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>best place to find and explore <br> that all you need with our air flights</h2>
            <p>
                Find Best Air Flights One click 
            </p>
        </div>
        <div class="welcome-hero-serch-box">
            <div class="welcome-hero-form">
                <div class="single-welcome-hero-form">
                    <h3>what?</h3>
                    <form action="index.html">
                        <input type="text" placeholder="Ex: palce" />
                    </form>
                    <div class="welcome-hero-form-icon">
                        <i class="flaticon-list-with-dots"></i>
                    </div>
                </div>
                <div class="single-welcome-hero-form">
                    <h3>location</h3>
                    <form action="index.html">
                        <input type="text" placeholder="Ex: london, newyork, rome" />
                    </form>
                    <div class="welcome-hero-form-icon">
                        <i class="flaticon-gps-fixed-indicator"></i>
                    </div>
                </div>
            </div>
            <div class="welcome-hero-serch">
                <button class="welcome-hero-btn" onclick="window.location.href='#'">
                    search  <i data-feather="search"></i> 
                </button>
            </div>
        </div>
    </div>

</section>